* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0D0F12;
    font-family: PS TT Commons Roman, Gotham SSm A, Gotham SSm B, Arial, sans-serif;
    font-weight: 400;
    /* line-height: 14px; */
}


/* I was finding it difficult to change the height of the free-trial-side*/
/*So I came here and changed the vh and it worked*/
/*I don't really understand this well*/

#container {
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.login-side {
    font-family: PS TT Commons Roman,Gotham SSm A,Gotham SSm B,Arial,sans-serif;
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
}


.pluralsight-logo {
    width: 56%;
    max-width: 303px;
    display: block;
    margin: 40px auto 0 auto;
}

.pluralsight-logo img {
    width: 100%;
}

#main {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.login-forms label {
    font-size: 16px;
    font-weight: 500;
}

/* I am finding it difficult to make the text input field responsive*/

.input-text {
    width: 309.6px;
}

.login-forms input {
    width: 100%;
    height: 37px;
    color: white;
    background-color: #0D0F12;
    border: solid #56575A 1px;
    border-radius: 3px;
    margin-bottom: 27px;
    margin-top: 5px;
    text-indent: 20px;
}

.login-forms button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    background-color: #088ed1ef;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 0;
    cursor: pointer;
}

.login-forms button:hover {
    background-color: #006395;
}

.other-options {
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* align-content: center; */
}

.other-options .password {
    font-weight: 500;
    font-size: 17px;
    color: #2ea0d6;
    text-decoration: none;
}

.other-options .password:hover {
    color: #006395;
    text-decoration: underline;
}

.other-options .company {
    font-weight: 500;
    font-size: 17px;
    color: #2ea0d6;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.other-options .company:hover{
    color: #006395;
    text-decoration: underline;
}

.horizontal-line {
    width: 20em;
    margin: 0 auto;
    margin-top: 10px; 
    /* color: #313335; */
}

.horizontal-line hr {
    background-color: #313335;
    height: 1px;
    border: none;
    color: #313335;

}

.account {
    width: 20em;
    height: 40px;
    border: none;
    background-color: #333840c4;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 0;
    margin-top: 20px;
}

.account:hover {
    background-color: #1f2329;
    cursor: pointer;
}

#footer-section {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.74);
    font-weight: normal;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.copyright {
    text-align: center;
}

.privacy {
    text-align: center;
    margin-top: 8px;
}

.privacy a {
    color: rgba(255, 255, 255, 0.74);
}

.privacy a:hover {
    color: #006D93;
}

#help {
    height: 25px;
    width: 25px;
    position: sticky;
    /* align-self: baseline; */
    bottom: 10px;
    left: 30px;
}


#free-trial-side {
    width: 60%;
    background-color: #000000;
    background-image: url("resources/bg-gtm-2020.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    color: white;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    height: 99%;  /* I don't know what I did but this is not working anymore*/

}


#h1-image {
    margin-top: 4.25em;
    margin-left: 6.25em;
    display: inline-block;
    width: fit-content;
}

#h1-text {
    width: 50%;
    font-weight: 920;
    font-size: 156.25%;
    display: inline-block;
    position: relative;
    left: 140px;
    top: 150px;
}

#h1-text h1 {
    line-height: 55px;
    display: inline-block;
    font-weight: bolder;
    /* line-height: 100px; */
}

#try {
    display: inline-block;
    margin-top: 30px;
}

#try button {
    color: white;
    background-image: linear-gradient(to right, #F0552E, #ED1872, #F0552E);
    width: 230.23px;
    height: 40px;
    border: none;
    font-size: 14px;
    margin-left: 6.25em;
    padding: 12px 80px;
    border-radius: 2px;
}

#try button:hover {
    cursor: pointer;
}

#build {
    display: inline-block;
    width: 150px;
    /* position: relative; */
    align-self: flex-end;
    margin-top: 80px;
    margin-right: 40px
}

#build img {
    display: inline-block;
    width: 100%;
}